// header

.container__score {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.score {
  display: flex;
  border-radius: 12px;
  width: 650px;
  margin: 0 auto;
  height: 100px;
  border: 3px solid hsl(217, 16%, 45%);
}

.header__score {
  display: flex;
  justify-content: space-between;
  width: 93%;
  color: white;
  margin: auto;
}

.description__score {
  flex-direction: column;
  display: flex;
  font-size: 28px;
}

.points__score {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  color: hsl(229, 25%, 31%);
  font-weight: bold;
  width: 106px;
  border-radius: 12px;
  transition: 200ms;

  .reset__count {
    display: none;
  }

  &:hover {
    .reset__count {
      display: flex;
    }
    cursor: pointer;
    background: red;
  }
}

.label__score {
  font-size: 13px;
  text-transform: uppercase;
}

.label__count {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -9px;
}

@media screen and (max-width: 800px) {
  .container__score {
    width: 100%;
    margin-top: 30px;
  }

  .score {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
}
