.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

// game

.container__game {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  height: 100vh;
}

.card__game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 135px;
}

.game {
  display: flex;
  margin: -70px auto;
  justify-content: space-between;
  color: white;
  width: 358px;
}

.image {
  width: 250px;
  height: 250px;
}

.last__item {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}



.item {
  background: white;
  cursor: pointer;
  padding: 10px 10px 7px 10px;
}

.image__blue {
  padding: 19px 32px 28px 29px;
  border-top: 6px solid #bebebe;
  border-radius: 50%;
  z-index: -1;

}

.image__yellow {
  padding: 19px 29px 26px 30px;
  border-top: 6px solid #bebebe;
  border-radius: 50%;
  z-index: -1;
}

.image__red {
  padding: 24px 31px 27px 30px;
  border-top: 6px solid #bebebe;
  border-radius: 50%;
  z-index: -1;
}

.--blue {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  background-clip: content-box, border-box;
  border-bottom: 5px solid hsl(230, 54%, 50%);

  &:hover {
  background-image: linear-gradient(#bebebe, #bebebe), radial-gradient(circle at top left, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  }
}

.--yellow {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  background-clip: content-box, border-box;
  border-bottom: 5px solid hsl(39, 83%, 41%);

  &:hover {
  background-image: linear-gradient(#bebebe, #bebebe), radial-gradient(circle at top left, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  }
}

.--red {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  background-clip: content-box, border-box;
  border-bottom: 5px solid hsl(349, 68%, 40%);

  &:hover {
  background-image: linear-gradient(#bebebe, #bebebe), radial-gradient(circle at top left, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  }
}


// Rules
.container__rules {
  display: flex;
  height: 28px;
  position: absolute;
  bottom: 25px;
  right: 29px;
  border: 2px solid hsl(217, 16%, 45%);
  width: 114px;
  border-radius: 8px;
  transition: 200ms;

  &:hover {
    background: hsl(217, 15%, 34%);
    border-radius: 8px;
  }
}

.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}

.container__triangle {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 79vh;
  z-index: -1;
}

.triangle {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .score {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .card__game {
    margin-top: 175px;
  }

  .game {
    zoom: 80%;
  }

  .last__item {
    zoom: 80%;
  }

  .last__item {
    margin-top: 175px;
  }
}
